*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Node / JS frontends & server
node_modules/
dist/
build/
*.db
*.sqlite
*.sqlite3
.env*
*.log
npm-debug.log*
.DS_Store
.vite

